#Importing Finance Data

## Importing CSV Data Manually

The easiest way to import financial data into Python is to get it from a file that is stored locally on your computer.
```
date,open,close,volume
2013-02-08,54.38,54.66,9584224
2013-02-11,54.65,54.75,6358524
2013-02-12,54.77,54.95,8758025
2013-02-13,55.08,54.96,5701775
…
```
In the above csv file we have comma separated historical stock price data for Disney (DIS) which includes date, open, close and volume fields.

In order to import data from a csv like this, the pandas module has a useful function: `read_csv`.
```
import pandas as pd
data = pd.read_csv("data.csv")
```
This function takes as an argument the location of the csv file you want to import, and outputs a pandas DataFrame containing the data from the file

***
### Exercise

1. Let us try importing data from the csv included in the workspace to the right, `disney_prices.csv`. Look at the file and familiarize yourself with its structure (It is the full version of the file that we looked at in the narrative).

    Import the pandas module in a variable called pd.

In [1]:
import pandas as pd

2. Using pandas, import the disney prices data into a variable called `disney_prices` and print the results.

In [2]:
disney_prices = pd.read_csv("disney_prices.csv")
disney_prices

            date    open   close    volume
0     2013-02-08   54.38   54.66   9584224
1     2013-02-11   54.65   54.75   6358524
2     2013-02-12   54.77   54.95   8758025
3     2013-02-13   55.08   54.96   5701775
4     2013-02-14   54.92   54.88   8564486
...          ...     ...     ...       ...
1254  2018-02-01  108.62  110.49   9518857
1255  2018-02-02  109.95  108.70   9947657
1256  2018-02-05  107.10  104.70  15107942
1257  2018-02-06  102.88  106.17  17765068
1258  2018-02-07  107.83  104.76  12444982

[1259 rows x 4 columns]

***

## Importing Data Using Datareader

Many financial institutions, stock markets, and world banks provide large amounts of the data they store to the public.

Most of this data is well organized, live updated, and accessible through the use of an application programming interface (API), which gives programming languages like Python a way to download and import it.

### Pandas-Datareader Module

The **pandas-datareader** module is designed specifically to interact with some of the world's most popular finance data APIs, and import their data into an easily digestible pandas DataFrame.

Each finance API is accessed using a different function exposed by pandas-datareader. Generally accessing each API requires a different set of arguments and information that needs to be provided by the programmer.

Throughout this lesson we will be importing data from several of these APIs and playing around with it.

For a full list of all the data pandas-datareader is able to access you can check out the official <a href="https://pandas-datareader.readthedocs.io/en/latest/index.html">documentation</a>.

***
### Exercise

1. In the cell below there is a small program which uses `pandas_datareader` to get gdp data from the <a href="https://www.worldbank.org/en/home">World Bank API</a>.

    Take a moment to look it over. It is okay if it does not make sense right now, but notice some of the variables that are being created, start and end dates, a data indicator id and a list of countries.

    Now run the code. It should print out the DataFrame of data that got imported from the World Bank.

In [3]:
from pandas_datareader import wb
from datetime import datetime

start = datetime(2005, 1, 1)
end = datetime(2008, 1, 1)
indicator_id = 'NY.GDP.PCAP.KD'

gdp_per_capita = wb.download(indicator=indicator_id, start=start, end=end, country=['US', 'CA', 'MX'])

print(gdp_per_capita)

                    NY.GDP.PCAP.KD
country       year
Canada        2008    48495.204040
              2007    48534.174477
              2006    45857.996552
              2005    44471.080060
Mexico        2008     9587.636339
              2007     9622.047957
              2006     9547.333571
              2005     9270.656542
United States 2008    49319.478865
              2007    49856.281490
              2006    49405.767296
              2005    48499.812374

***

## Getting NASDAQ Symbols

The NASDAQ stock exchange identifies each of its stocks using a unique symbol:

* Apple - **APPL**
* Google - **GOOGL**
* Tesla - **TSLA**

It also provides a useful API for accessing the symbols that are currently trading on it.

Pandas-datareader provides several functions for importing data from NASDAQ's API through its `nasdaq_trader` sub-module.
```
from pandas-datareader.nasdaq_trader import func
```
In the code above we are importing a function called `func` from the NASDAQ submodule.

In order to import the list of stock symbols, we will want to use nasdaq_trader's `get_nasdaq_symbols` function.
```
symbols = get_nasdaq_symbols()
```
When called, it will go off to NASDAQ's API, and import the list of symbols trading at that moment.

The benefit of using pandas-datareader is that all of the logic for interacting with NASDAQ's API or any other API is encapsulated into easy to use sub-modules and functions like the ones above.

***
### Exercise

1. First we will need to import the correct function from pandas_datareader. In the text editor write the code for importing the `get_nasdaq_symbols` function from the `pandas_datareader.nasdaq_trader` submodule.

In [4]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols

2. Now that we have the `get_nasdaq_symbols` function imported let us use it. Call the function (it does not take any arguments), store the resulting DataFrame in a variable called `symbols` and print it out.

In [5]:
symbols = get_nasdaq_symbols()
symbols

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,P,,True,100.0,False,NaN,AAAU,AAAU,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.0,False,NaN,AAC.U,AAC=,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXYZ.A,True,Nasdaq Symbology Test Common Stock,Q,Q,False,100.0,True,N,NaN,ZXYZ.A,False
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,S,False,100.0,False,N,NaN,ZYXI,False

***

## Filtering Data by Date

Many of the APIs pandas-datareader connects with allow us to filter the data we get back by time.

Financial institutions tend to keep track of data dating back several decades, and when we are importing that data, it is useful to be able to specify exactly when we want it to be from.

One API that does just that is the Federal Reserve Bank of St. Louis (FRED), which we can access by first importing the `pandas_datareader.data` sub-module and then calling its DataReader function:
```
import pandas_datareader.data as web
 
web.DataReader('MORTGAGE30US', 'fred', start_date, end_date)
```
The DataReader function takes 4 arguments:

* `'MORTGAGE30US'` - An identifier provided by the API specifying the data we want back, in this case 30 year mortgage data in the US
* `'fred'` - The name of the API we want to access
* `start_date`, `end_date` - The date range we want the data to be from

The start and end dates are special data types called `datetime`s, which can be created using the Python `datetime` module.
```
from datetime import datetime
 
start_date = datetime(2018, 7, 8) # year, month, day
end_date = datetime(2019, 4, 13)
```
More info on creating datetimes can be found in the <a href="https://docs.python.org/3/library/datetime.html">documentation here</a>.

By changing up the start and end datetimes, you can easily filter when the data you get back is from.

***
### Exercise

1. Similar to the mortgage data, FRED also exposes data about the S&P 500, specifically the index's daily market cap. Let us grab this data from FRED. Start by importing the `pandas_datareader.data` module as `web`.

In [6]:
import pandas_datareader.data as web

2. Now let us create two variables, our start and end times. We will track the market cap for the first month of 2019. `start` should be a datetime representing January 1, 2019, and `end` should represent February 1, 2019.

In [7]:
start = datetime(2019, 1, 1)
end = datetime(2019, 2, 1)

3. Now call the `web.DataReader` function to get the S&P data from FRED, store it in a variable called `sap_data` (the data id code is SP500), and print the results.

In [8]:
sap_data = web.DataReader('SP500', 'fred', start, end)
sap_data

              SP500
DATE
2019-01-01      NaN
2019-01-02  2510.03
2019-01-03  2447.89
2019-01-04  2531.94
2019-01-07  2549.69
2019-01-08  2574.41
2019-01-09  2584.96
2019-01-10  2596.64
2019-01-11  2596.26
2019-01-14  2582.61
2019-01-15  2610.30
2019-01-16  2616.10
2019-01-17  2635.96
2019-01-18  2670.71
2019-01-21      NaN
2019-01-22  2632.90
2019-01-23  2638.70
2019-01-24  2642.33
2019-01-25  2664.76
2019-01-28  2643.85
2019-01-29  2640.00
2019-01-30  2681.05
2019-01-31  2704.10
2019-02-01  2706.53

***

## API Keys

Many finance APIs require us to pass along extra information when requesting data, one common argument is an API key.

An API key is a unique string used to identify and authenticate entities requesting data.

`003026bbc133714df1834b8638bb496e-8f4b3d9a-e931`

Like the example above, API keys are generally long, randomly generated strings provided by the API.

Some APIs, like the ones we have looked at so far, do not require a key to access data, but in general, most do.

You can obtain a key by signing up with the website or organization hosting the API.

A good rule is to treat your API keys like you would a password. You do not want to share them with anyone, and in the case of software development, you do not want to check them into source control systems like GitHub.

## Using API Keys

In some cases you will pass the API key directly into the pandas-datareader function you are using to access the API.

Other times you will be required to set the API key as a more secure operating system (os) environment variable like with the quandl API below:
``` 
os.environ["QUANDL_API_KEY"] = "demo"
df = web.DataReader('AAPL.US', 'quandl', start, end)
```
More info on `os.enviorn` can be found in the <a href="">documentation here</a>.

Note: It is never a good idea to enter an API key on a website you do not own. If you want to run this code with an actual API key do so on your local machine. Writing code with an API key on any online code editor including Codecademy is a bad practice.

***
### Exercise

1. In the cell below there is code for grabbing Google's stock price data from the Tiingo finance API. The `get_data_tiingo` function requires us to pass an `api_key` in order to access the stock data.

Run the code and you should get an error which indicates that we are using an invalid API key. To get this to work you would need to replace 'my-api-key' with a valid key obtained from Tiingo.

<i>If you would like to try this with an actual API key feel free to sign up for one on Tiingo's website, then on your own local environment (remember it is bad practice to do this on an online code editor) you can just copy and paste the code from here and watch it work!</i>

In [9]:
import pandas_datareader as dr 

dr.get_data_tiingo('GOOG', api_key='my_api_key)

                                    close     high       low     open  \
symbol date
GOOG   2016-03-14 00:00:00+00:00   730.49   735.50   725.150   726.81
       2016-03-15 00:00:00+00:00   728.33   732.29   724.770   726.92
       2016-03-16 00:00:00+00:00   736.09   737.47   724.510   726.37
       2016-03-17 00:00:00+00:00   737.78   743.07   736.000   736.45
       2016-03-18 00:00:00+00:00   737.60   742.00   731.830   741.86
...                                   ...      ...       ...      ...
       2021-03-04 00:00:00+00:00  2049.09  2089.24  2020.270  2023.37
       2021-03-05 00:00:00+00:00  2108.54  2118.11  2046.415  2073.12
       2021-03-08 00:00:00+00:00  2024.17  2128.81  2021.610  2101.13
       2021-03-09 00:00:00+00:00  2052.70  2078.04  2047.830  2070.00
       2021-03-10 00:00:00+00:00  2055.03  2075.00  2033.370  2071.76

                                   volume  adjClose  adjHigh    adjLow  \
symbol date
GOOG   2016-03-14 00:00:00+00:00  1718252    730.49   735.50   725.150
       2016-03-15 00:00:00+00:00  1720965    728.33   732.29   724.770
       2016-03-16 00:00:00+00:00  1624370    736.09   737.47   724.510
       2016-03-17 00:00:00+00:00  1860834    737.78   743.07   736.000
       2016-03-18 00:00:00+00:00  2980709    737.60   742.00   731.830
...                                   ...       ...      ...       ...
       2021-03-04 00:00:00+00:00  2118006   2049.09  2089.24  2020.270
       2021-03-05 00:00:00+00:00  2195218   2108.54  2118.11  2046.415
       2021-03-08 00:00:00+00:00  1647429   2024.17  2128.81  2021.610
       2021-03-09 00:00:00+00:00  1697306   2052.70  2078.04  2047.830
       2021-03-10 00:00:00+00:00  1268592   2055.03  2075.00  2033.370

                                  adjOpen  adjVolume  divCash  splitFactor
symbol date
GOOG   2016-03-14 00:00:00+00:00   726.81    1718252      0.0          1.0
       2016-03-15 00:00:00+00:00   726.92    1720965      0.0          1.0
       2016-03-16 00:00:00+00:00   726.37    1624370      0.0          1.0
       2016-03-17 00:00:00+00:00   736.45    1860834      0.0          1.0
       2016-03-18 00:00:00+00:00   741.86    2980709      0.0          1.0
...                                   ...        ...      ...          ...
       2021-03-04 00:00:00+00:00  2023.37    2118006      0.0          1.0
       2021-03-05 00:00:00+00:00  2073.12    2195218      0.0          1.0
       2021-03-08 00:00:00+00:00  2101.13    1647429      0.0          1.0
       2021-03-09 00:00:00+00:00  2070.00    1697306      0.0          1.0
       2021-03-10 00:00:00+00:00  2071.76    1268592      0.0          1.0

[1257 rows x 12 columns]

***

## Flaky APIs and Changing Contracts

One of the risks of using public APIs is that you are relying on an external service to work as expected at all times, and they often do not.

When an API is intermittently offline or not working we call it flaky.

You cannot control if an API acts flaky, but here is a few tips to help ensure it does not prevent you from building something great.

1. **Test your code** - Testing as often as possible will ensure your code works from day to day and will help to identify any APIs that are consistently acting flaky.
2. **Keep up to date with the datareader documentation** - Because we are accessing these finance APIs through <a href="https://pandas-datareader.readthedocs.io/en/latest/#">pandas-datareader</a>, that is a good place to look if an API starts acting unexpectedly.
3. **Actively monitoring the pandas-datareader project on GitHub** - Sometimes there are bugs in the pandas-datareader project, instead of the APIs it is calling. The <a href="https://github.com/pydata/pandas-datareader">github page</a> for the project is a good place to ask questions and stay up to date on the latest issues identified in the project.

***

## Using the Shift Operation

Once we have imported a DataFrame full of finance data, there is some pretty cool ways we can manipulate it.

In this exercise we will look at the shift operation, a DataFrame function which shifts all the rows in a column up or down.

<img src="https://content.codecademy.com/programs/python-for-finance/importing-finance-data/data-frame-shift.gif" alt="DataFrame Column Shifted Down 1 Row" style="background-color:white;" width=500></img><br>

Shift can be called on a single column (like in the gif above), or on the entire DataFrame where all columns will be shifted.

You can also shift by more than one row, and in either direction.
```
# shifts all rows down by 1
dataframe.shift(1); 
# shifts all rows in name column up 5
dataframe['name'].shift(-5); 
# shifts all rows in the price column down 3
dataframe['price'].shift(3); 
```
Shift is particularly useful when dealing with financial data. For example, it can be used to help calculate the percentage of growth between one row and the next, or find the difference in stock prices over a series of days.

Let us take a look at an example of that in the exercises below.

***
### Exercise

1. To demonstrate shift's power, let us use it on some financial data. Using data from the FRED API we will calculate the amount of GDP growth over the last 10 years.

    Start by creating two datetime variables, `start` and `end`. Set `start` as January 1 2008, and `end` as January 1, 2018.

In [10]:
start = datetime(2008, 1, 1)
end = datetime(2018, 1, 1)

2. Now call the `web.DataReader` function to get the GDP data from FRED, and store it in a variable called `gdp`.

    The data id code is <a href="https://fred.stlouisfed.org/series/GDP">GDP</a>

    Print the results and take note of the GDP column. This is the column we will be using to calculate the incremental percentage of GDP growth. There should be GDP data reported every 3 months.

In [11]:
gdp = web.DataReader('GDP', 'fred', start, end)
gdp

                  GDP
DATE
2008-01-01  14651.039
2008-04-01  14805.611
2008-07-01  14835.187
2008-10-01  14559.543
2009-01-01  14394.547
2009-04-01  14352.850
2009-07-01  14420.312
2009-10-01  14628.021
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828
2011-04-01  15496.189
2011-07-01  15591.850
2011-10-01  15796.460
2012-01-01  16019.758
2012-04-01  16152.257
2012-07-01  16257.151
2012-10-01  16358.863
2013-01-01  16569.591
2013-04-01  16637.926
2013-07-01  16848.748
2013-10-01  17083.137
2014-01-01  17104.555
2014-04-01  17432.909
2014-07-01  17721.657
2014-10-01  17849.912
2015-01-01  18003.399
2015-04-01  18223.577
2015-07-01  18347.425
2015-10-01  18378.803
2016-01-01  18470.156
2016-04-01  18656.207
2016-07-01  18821.359
2016-10-01  19032.580
2017-01-01  19237.435
2017-04-01  19379.232
2017-07-01  19617.288
2017-10-01  19937.963
2018-01-01  20242.215

3. To calculate the growth over each three month period, we will want to subtract each increment's GDP data from the data in the next increment.

    To do this, subtract the result of shifting the 'GDP' column by 1, from the unshifted 'GDP' column, and store it in a new column on the DataFrame called `growth`

    It should look something like this:
    ```
    df['growth'] = df['COL'] - df['COL'].shift(1)
    ```
    Print the newly updated `gdp` DataFrame.

In [12]:
gdp['growth'] = gdp['GDP'] - gdp['GDP'].shift(1)
gdp

                  GDP   growth
DATE
2008-01-01  14651.039      NaN
2008-04-01  14805.611  154.572
2008-07-01  14835.187   29.576
2008-10-01  14559.543 -275.644
2009-01-01  14394.547 -164.996
2009-04-01  14352.850  -41.697
2009-07-01  14420.312   67.462
2009-10-01  14628.021  207.709
2010-01-01  14721.350   93.329
2010-04-01  14926.098  204.748
2010-07-01  15079.917  153.819
2010-10-01  15240.843  160.926
2011-01-01  15285.828   44.985
2011-04-01  15496.189  210.361
2011-07-01  15591.850   95.661
2011-10-01  15796.460  204.610
2012-01-01  16019.758  223.298
2012-04-01  16152.257  132.499
2012-07-01  16257.151  104.894
2012-10-01  16358.863  101.712
2013-01-01  16569.591  210.728
2013-04-01  16637.926   68.335
2013-07-01  16848.748  210.822
2013-10-01  17083.137  234.389
2014-01-01  17104.555   21.418
2014-04-01  17432.909  328.354
2014-07-01  17721.657  288.748
2014-10-01  17849.912  128.255
2015-01-01  18003.399  153.487
2015-04-01  18223.577  220.178
2015-07-01  18347.425  123.848
2015-10-01  18378.803   31.378
2016-01-01  18470.156   91.353
2016-04-01  18656.207  186.051
2016-07-01  18821.359  165.152
2016-10-01  19032.580  211.221
2017-01-01  19237.435  204.855
2017-04-01  19379.232  141.797
2017-07-01  19617.288  238.056
2017-10-01  19937.963  320.675
2018-01-01  20242.215  304.252

***

## Calculating Basic Financial Statistics

Two useful calculations that can be made on financial data are variance and covariance.

To illustrate these concepts, let us use the example of a DataFrame which measures stock and bond prices over time.

|date|stocks|bonds|
|:---|:-----|:----|
|Jun|998|300|
|Jul|1230|275|
|Aug|1500|240|
|Sep|1750|190|

### Variance

Variance measures how far a set of numbers are spread out from their average. In finance, this is used to determine the volatility of investments.
```
dataframe['stocks'].var() # 106427
dataframe['bonds'].var() # 2272
```
In the variance calculations above, stocks have a larger value than bonds.

That is because the stock prices are more spread out than bonds, indicating that stocks are a more volatile investment.

### Covariance

Covariance, in a financial context, describes the relationship between the returns on two different investments over a period of time, and can be used to help balance a portfolio.

Calling `cov()` on our stocks/bonds produces a matrix which defines the covariance values between each column pair in the DataFrame.

In our example data, when stock prices go up, bonds go down. We can use the covariance function to see this numerically.
```
dataframe.cov()
```
The above code produces the following output DataFrame:

|type|stocks|bonds|
|:---|:-----|:----|
|stocks|106427|-15300|
|bonds|-15300|2272|

Each value above represents the covariance between two columns.

The larger the number the more investments tend to move up and down at the same time.

The top right and bottom left columns represent the covariance between stocks and bonds. Here we get a negative number, indicating stocks and bonds tend to move in different directions.

Notice also the top left and bottom right columns are actually just the variances for stocks and bonds we saw earlier.

***
### Exercise

1. In the cell below, there is some data that was originally obtained from the Thrift Savings Plan (TSP) API. Execute the code and examine the DataFrame that comes back.

In [13]:
tsp_data = pd.read_csv("tsp_data.csv", header = 0, index_col = 0)
tsp_data

,L Income,L 2020,L 2030,L 2040,L 2050,G Fund,F Fund,C Fund,S Fund,I Fund
Date,,,,,,,,,,
2019-01-02 0:00:00,19.6889,26.7883,29.6180,31.8164,18.2119,15.9949,18.1687,35.9983,43.9762,26.5338
2019-01-03 0:00:00,19.6271,26.6553,29.3183,31.4315,17.9603,15.9961,18.2683,35.1161,43.2176,26.4053
2019-01-04 0:00:00,19.7511,26.9151,29.8906,32.1665,18.4410,15.9973,18.1837,36.3220,44.7812,27.1899
2019-01-07 0:00:00,19.7808,26.9710,30.0121,32.3227,18.5436,16.0009,18.1788,36.5768,45.5472,27.2332
2019-01-08 0:00:00,19.8170,27.0415,30.1738,32.5311,18.6806,16.0021,18.1561,36.9320,46.2188,27.3880
...,...,...,...,...,...,...,...,...,...,...
2019-08-28 0:00:00,20.5741,28.3117,32.4076,35.2784,20.4139,16.2529,19.8146,41.9681,50.4062,29.0641
2019-08-29 0:00:00,20.6181,28.3897,32.6094,35.5411,20.5876,16.2538,19.7771,42.5076,51.1661,29.2170
2019-08-30 0:00:00,20.6320,28.4128,32.6621,35.6083,20.6313,16.2557,19.7948,42.5403,51.1623,29.3958
2019-09-03 0:00:00,20.6115,28.3745,32.5518,35.4623,20.5333,16.2586,19.8318,42.2497,50.5547,29.3312
2019-09-04 0:00:00,20.6596,28.4587,32.7649,35.7390,20.7155,16.2593,19.8462,42.7119,51.0723,29.6495

2. Print the result of calling the variance function on the entire `tsp_data` DataFrame, notice how it outputs a DataFrame with the variance for each column.

In [14]:
tsp_data.var()

L Income    0.062194
L 2020      0.179628
L 2030      0.670104
L 2040      1.053787
L 2050      0.434321
G Fund      0.005991
F Fund      0.237778
C Fund      3.319402
S Fund      3.631685
I Fund      0.793820
dtype: float64

3. Finally, print out the result of calling the `cov()` function on the DataFrame and see if you can spot any trends among the columns.

In [15]:
tsp_data.cov()

,L Income,L 2020,L 2030,L 2040,L 2050,G Fund,F Fund,C Fund,S Fund,I Fund
L Income,0.062194,0.105525,0.200417,0.249990,0.159678,0.017801,0.101581,0.447764,0.406779,0.193118
L 2020,0.105525,0.179628,0.343624,0.429226,0.274497,0.029519,0.166371,0.766153,0.712232,0.336594
L 2030,0.200417,0.343624,0.670104,0.840046,0.538868,0.052727,0.286665,1.487608,1.450433,0.685383
L 2040,0.249990,0.429226,0.840046,1.053787,0.676359,0.064969,0.350549,1.863328,1.833292,0.865807
L 2050,0.159678,0.274497,0.538868,0.676359,0.434321,0.041061,0.220029,1.194421,1.184367,0.558977
G Fund,0.017801,0.029519,0.052727,0.064969,0.041061,0.005991,0.036658,0.119597,0.089845,0.043314
F Fund,0.101581,0.166371,0.286665,0.350549,0.220029,0.036658,0.237778,0.657265,0.428743,0.207755
C Fund,0.447764,0.766153,1.487608,1.863328,1.194421,0.119597,0.657265,3.319402,3.193075,1.491383
S Fund,0.406779,0.712232,1.450433,1.833292,1.184367,0.089845,0.428743,3.193075,3.631685,1.573206
I Fund,0.193118,0.336594,0.685383,0.865807,0.558977,0.043314,0.207755,1.491383,1.573206,0.793820

## Review

You are now ready to import your own financial data for analysis! Before you move on, let us take a minute to review what we have covered in this lesson.

* Python is able to import financial data from csv files as well as public financial APIs.
* The pandas `read_csv` function can be used to import data from a csv file into a pandas dataframe.
* Pandas-datareader makes it easy to import data from public financial APIs.
* Python's datetime function can be used to create datetime objects which are often used to specify time ranges for financial data.
* API keys are unique identifiers required for some APIs in order to access data.
* Sometimes APIs can be flaky. To mitigate the damage this might cause it is best to test your code often and keep up to date with the pandas-datareader documentation and GitHub page.
* The `shift` function can be used on the rows in a DataFrame column to shift them up or down.
* Pandas provides common statistical functions like `var` and `cov` to make it easy to calculate variance and covariance on a dataset.

***
### Exercise

1. Let us review importing a csv file. In the workspace we have an `apple_prices.csv` file which has historical stock price data for Apple.

    Use pandas to import this file into a variable called `apple_prices` and print out the resulting DataFrame.

In [16]:
apple_prices = pd.read_csv('apple_prices.csv')
apple_prices

          date   close      volume    open      high     low
0   2019/08/13  208.97  47539790.0  201.02  212.1400  200.83
1   2019/08/12  200.48  22481890.0  199.62  202.0516  199.15
2   2019/08/09  200.99  24619750.0  201.30  202.7600  199.29
3   2019/08/08  203.43  27009520.0  200.20  203.5300  199.39
4   2019/08/07  199.04  33364400.0  195.41  199.5600  193.82
..         ...     ...         ...     ...       ...     ...
60  2019/05/17  189.00  32879090.0  186.93  190.9000  186.76
61  2019/05/16  190.08  33031360.0  189.91  192.4689  188.84
62  2019/05/15  190.92  26544720.0  186.27  191.7500  186.02
63  2019/05/14  188.66  36529680.0  186.41  189.7000  185.41
64  2019/05/13  185.72  57430620.0  187.71  189.4800  182.85

[65 rows x 6 columns]

2. Now, let us calculate the variance on our Apple stock data to see how volatile the stock is.

    Print the results of calling the `var()` function on the `open` column of the `apple_prices` DataFrame.

In [17]:
apple_prices['open'].var()

103.82291877403847

3. Finally, let us grab some finance data from the FRED API.

    FRED stores historical prices on gasoline for New York State identified by the code <a href="https://fred.stlouisfed.org/series/APUS12A74714">APUS12A74714</a>. Use the `web.DataReader` function to grab historical data between January 1, 2008 and January 1, 2018 and store it in a variable called `gas_prices`.

    Print the result.

In [18]:
start = datetime(2008, 1, 1)
end = datetime(2018, 1, 1)
gas_prices = web.DataReader('APUS12A74714', 'fred', start, end)
gas_prices

            APUS12A74714
DATE
2008-01-01         3.125
2008-02-01         3.081
2008-03-01         3.221
2008-04-01         3.411
2008-05-01         3.856
...                  ...
2017-09-01         2.778
2017-10-01         2.597
2017-11-01         2.605
2017-12-01         2.568
2018-01-01         2.632

[121 rows x 1 columns]