In [1]:
import pandas as pd
import sqlite3

date03_query = """
SELECT
    STRFTIME('%d', b.order_date) AS `day`,
    COUNT(*) AS number_of_orders
FROM
    bakery b
GROUP BY
    STRFTIME('%d', b.order_date)
ORDER BY
    COUNT(*) DESC;
"""

database_name = 'math-and-date.db'
connection = sqlite3.connect(database_name)
df = pd.read_sql(date03_query, connection)
connection.close()

df

  day  number_of_orders
0  16                 9
1  20                 6
2  18                 6
3  17                 5
4  21                 2
5  19                 2