# Petal Power Inventory

You're the lead data analyst for a chain of gardening stores called Petal Power. Help them analyze their inventory!

## Answer Customer Emails

1. Data for all of the locations of Petal Power is in the file `inventory.csv`. Load the data into a DataFrame called `inventory`.

In [1]:
import pandas as pd

inventory = pd.read_csv('inventory.csv')

2. Inspect the first 10 rows of `inventory`.

In [2]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

3. The first 10 rows represent data from your Staten Island location. Select these rows and save them to `staten_island`.

In [3]:
staten_island = inventory.iloc[:10]

staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

4. A customer just emailed you asking what products are sold at your Staten Island location. Select the column `product_description` from `staten_island` and save it to the variable `product_request`.

In [4]:
product_request = staten_island.product_description

product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

5. Another customer emails to ask what types of seeds are sold at the Brooklyn location. Select all rows where location is equal to Brooklyn and `product_type` is equal to seeds and save them to the variable `seed_request`.

In [5]:
seed_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]

seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

## Inventory

6. Add a column to inventory called `in_stock` which is `True` if quantity is greater than 0 and `False` if quantity equals 0.

In [6]:
inventory['in_stock'] = inventory.apply(lambda row: row.quantity > 0, axis=1)

inventory.head()

        location  product_type product_description  quantity  price  in_stock
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

7. Petal Power wants to know how valuable their current inventory is. Create a column called `total_value` that is equal to `price` multiplied by `quantity`.

In [7]:
inventory['total_value'] = inventory.apply(lambda row: row.price * row.quantity, axis=1)

inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,27.96
1,Staten Island,seeds,calla lily,46,19.99,True,919.54
2,Staten Island,seeds,tomato,85,13.99,True,1189.15
3,Staten Island,garden tools,rake,4,13.99,True,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00

8. The Marketing department wants a complete description of each product for their catalog. The following lambda function combines `product_type` and `product_description` into a single string:

In [8]:
combine_lambda = lambda row: f'{row.product_type} - {row.product_description}'

9. Using `combine_lambda`, create a new column in `inventory` called `full_description` that has the complete description of each product.

In [9]:
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)

inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow